# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
/migrations
/test-results
/.cursor
/docs/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

scripts/migrations/add_workspace_chat.sql
scripts/migrations/add_product_workspace.sql
scripts/migrations/add_partner_tracking.sql
